<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Bootstrap Css-->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!--Meanmenu.css-->
        <link rel="stylesheet" href="assets/css/meanmenu.css">
        <!--Owl carousel-->
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <!--Owl Theme-->
        <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
        <!--Magnific-popup-->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <!--Flaticon-->
        <link rel="stylesheet" href="assets/css/flaticon.css">
        <!--Remixicon-->
        <link rel="stylesheet" href="assets/css/remixicon.css">
        <!--Odometer-->
        <link rel="stylesheet" href="assets/css/odometer.min.css">
        <!--Aos css-->
        <link rel="stylesheet" href="assets/css/aos.css">
        <!--Style css-->
        <link rel="stylesheet" href="assets/css/style.css">
        <!--Dark css-->
        <link rel="stylesheet" href="assets/css/dark.css">
        <!--Responsive css-->
        <link rel="stylesheet" href="assets/css/responsive.css">

        <link rel="icon" type="image/png" href="assets/images/favicon.png">
        <title>Sanu - College University HTML Template</title>
    </head>
    <body>
        <!-- Start Preloader Area -->
        <div class="preloader-area">
            <div class="spinner">
                <div class="inner">
                    <div class="disc"></div>
                    <div class="disc"></div>
                    <div class="disc"></div>
                </div>
            </div>
        </div>
        <!-- End Preloader Area -->

        <!--Strat Top Header Area-->
        <div class="top-header-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="header-left-content">
                            <p>Get the latest updates and Sanu's response to COVID-19</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">                                        
                        <div class="header-right-content">
                            <div class="list">
                                <ul>
                                    <li><a href="graduate-admission.html">Students</a></li>
                                    <li><a href="campus-life.html">Faculty & Staff</a></li>
                                    <li><a href="admission.html">Visitors</a></li>
                                    <li><a href="academics.html">Academics</a></li>
                                    <li><a href="alumni.html">Alumni</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Top Header Area-->

        <!-- Start Navbar Area --> 
        <div class="navbar-area nav-bg-1">
            <div class="mobile-responsive-nav">
                <div class="container">
                    <div class="mobile-responsive-menu">
                        <div class="logo">
                            <a href="index.html">
                                <img src="assets/images/logo.png" class="main-logo" lt="logo">
                                <img src="assets/images/white-logo.png" class="white-logo" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="desktop-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="index.html">
                            <img src="assets/images/white-logo.png" alt="logo">
                        </a>
                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">
                                        Home            
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="index.html" class="nav-link">Home One</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index-2.html" class="nav-link">Home Two</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index-3.html" class="nav-link">Home Three</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle active">
                                        Pages 
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="graduate-admission.html" class="nav-link">Graduate Admission</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="campus-life.html" class="nav-link active">Campus Life</a>
                                        </li>

                                        

                                        <li class="nav-item">
                                            <a href="alumni.html" class="nav-link">Alumni</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="#" class="nav-link dropdown-toggle">
                                                Academics 
                                            </a>
        
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="academics.html" class="nav-link">Academics</a>
                                                </li>
        
                                                <li class="nav-item">
                                                    <a href="academics-details.html" class="nav-link">Academics Details</a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="nav-item">
                                            <a href="#" class="nav-link dropdown-toggle">
                                                Latest News 
                                            </a>
        
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="latest-news.html" class="nav-link">Our Latest News</a>
                                                </li>
        
                                                <li class="nav-item">
                                                    <a href="news-details.html" class="nav-link">News Details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a href="faq.html" class="nav-link">FAQ</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link dropdown-toggle">
                                                Users 
                                            </a>
        
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="login.html" class="nav-link">Login</a>
                                                </li>
        
                                                <li class="nav-item">
                                                    <a href="register.html" class="nav-link">Register</a>
                                                </li>

                                                <li class="nav-item">
                                                    <a href="recover-password.html" class="nav-link">Recover Password</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="terms-conditions.html" class="nav-link">Terms And Conditions</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="coming-soon.html" class="nav-link">Coming Soon</a>
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a href="404.html" class="nav-link">404 Page</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">
                                        Courses            
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="courses.html" class="nav-link">Courses</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="courses-details.html" class="nav-link">Courses Details</a>
                                        </li>                 
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">
                                        Health Care  
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="health-care.html" class="nav-link">Health Care</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="health-care-details.html" class="nav-link">Health Care Details</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">
                                        Events   
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="events.html" class="nav-link">Events</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="events-details.html" class="nav-link">Events Details</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="contact-us.html" class="nav-link">Contact Us</a>
                                </li>
                            </ul>

                            <div class="others-options">
                                <div class="icon">
                                    <i class="ri-menu-3-fill" data-bs-toggle="modal" data-bs-target="#sidebarModal"></i>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="others-option-for-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="inner">
                            <div class="icon">
                                <i class="ri-menu-3-fill" data-bs-toggle="modal" data-bs-target="#sidebarModal"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

        <!-- Sidebar Modal -->
        <div class="sidebarModal modal right fade" id="sidebarModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-bs-dismiss="modal"><i class="ri-close-line"></i></button>

                    <div class="modal-body">
                        <a href="index.html">
                            <img src="assets/images/logo.png" class="main-logo" alt="logo">
                            <img src="assets/images/white-logo.png" class="white-logo" alt="logo">
                        </a>
                        <div class="sidebar-content">
                            <h3>About Us</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                            <div class="sidebar-btn">
                                <a href="contact.html" class="default-btn">Let’s Talk</a>
                            </div>
                        </div>
                        <div class="sidebar-contact-info">
                            <h3>Contact Information</h3>

                            <ul class="info-list">
                                <li><i class="ri-phone-fill"></i> <a href="tel:9901234567">+990-123-4567</a></li>
                                
                                <li><i class="ri-mail-line"></i><a href="mailto:hello@sanu.com">hello@sanu.com</a></li>

                                <li><i class="ri-map-pin-line"></i> 413 North Las Vegas, NV 89032</li>
                            </ul>
                        </div>
                        <ul class="sidebar-social-list">
                            <li>
                                <a href="https://www.facebook.com" target="_blank"><i class="flaticon-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com" target="_blank"><i class="flaticon-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://linkedin.com/?lang=en" target="_blank"><i class="flaticon-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://instagram.com/?lang=en" target="_blank"><i class="flaticon-instagram"></i></a>
                            </li>
                        </ul>
                        <div class="contact-form">
                            <h3>Ready to Get Started?</h3>

                            <form id="contactForm">
                                <div class="row">
                                    <div class="col-lg-12 col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="name" class="form-control" required data-error="Please enter your name" placeholder="Your name">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-6">
                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control" required data-error="Please enter your email" placeholder="Your email address">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <input type="text" name="phone_number" class="form-control" required data-error="Please enter your phone number" placeholder="Your phone number">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" cols="30" rows="6" required data-error="Please enter your message" placeholder="Write your message..."></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <button type="submit" class="default-btn">Send Message<span></span></button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Sidebar Modal -->

        <!--Start Page Banner-->
        <div class="page-banner-area bg-2">
            <div class="container">
                <div class="page-banner-content">
                    <h1>Campus Life</h1>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Campus Life</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End Page Banner-->

        <!--Start Campus Life Area-->
        <div class="campus-life-area pt-100 pb-70">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-campus-card">
                            <div class="img">
                                <a href="campus-life.html"><img src="assets/images/campus-life/campus-life-1.jpg" alt="Image"></a>
                            </div>
                            <div class="campus-content">
                                <span>Art & Culture</span>
                                <a href="campus-life.html"><h3>Art, exercise and escapism in nature</h3></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-campus-card">
                            <div class="img">
                                <a href="campus-life.html"><img src="assets/images/campus-life/campus-life-2.jpg" alt="Image"></a>
                            </div>
                            <div class="campus-content">
                                <span>Athletics & Fitness</span>
                                <a href="campus-life.html"><h3>Improve Athletic Performance 
                                    Tips From Sanu</h3></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-campus-card">
                            <div class="img">
                                <a href="campus-life.html"><img src="assets/images/campus-life/campus-life-3.jpg" alt="Image"></a>
                            </div>
                            <div class="campus-content">
                                <span>Student Life</span>
                                <a href="campus-life.html"><h3>Why I Changed My Mind About Career Connections</h3></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-campus-card">
                            <div class="img">
                                <a href="campus-life.html"><img src="assets/images/campus-life/campus-life-4.jpg" alt="Image"></a>
                            </div>
                            <div class="campus-content">
                                <span>Dining On Campus</span>
                                <a href="campus-life.html"><h3>Art, exercise and escapism in nature</h3></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-campus-card">
                            <div class="img">
                                <a href="campus-life.html"><img src="assets/images/campus-life/campus-life-5.jpg" alt="Image"></a>
                            </div>
                            <div class="campus-content">
                                <span>Health & Wellness</span>
                                <a href="campus-life.html"><h3>Improve Athletic Performance 
                                    Tips From Sanu</h3></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-campus-card">
                            <div class="img">
                                <a href="campus-life.html"><img src="assets/images/campus-life/campus-life-6.jpg" alt="Image"></a>
                            </div>
                            <div class="campus-content">
                                <span>Safety and Security</span>
                                <a href="campus-life.html"><h3>Why I Changed My Mind About Career Connections</h3></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Campus Life Area-->

        <!--Start Campus Safety-->
        <div class="campus-safety-area pt-100 pb-70 bg-f4f6f9">
            <div class="container">
                <div class="section-title">
                    <h2>Campus Safety</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit ut elit tellus luctus nec ullamcorper mattis </p>
                </div>

                <div class="counter-area">
                    <div class="row">
                        <div class="col">
                            <div class="counter-card">
                                <h1>
                                    <span class="odometer" data-count="65">00</span>
                                    <span class="target">+</span>
                                </h1>
                                <p>Years Of Experience</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="counter-card">
                                <h1>
                                    <span class="odometer" data-count="30">00</span>
                                    <span class="target heading-color">k</span>
                                    <span class="target">+</span>
                                </h1>
                                <p>Global Students</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="counter-card">
                                <h1>
                                    <span class="odometer" data-count="52">00</span>
                                    <span class="target">+</span>
                                </h1>
                                <p>Student Nationalities</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="counter-card">
                                <h1>
                                    <span class="odometer" data-count="70">00</span>
                                    <span class="target">%</span>
                                </h1>
                                <p>International Students</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="counter-card">
                                <h1>
                                    <span class="odometer" data-count="12">00</span>
                                    <span class="target">+</span>
                                </h1>
                                <p>Different Majors</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Campus Safety-->

        <!--Start Student Life Area-->
        <div class="student-life-area pt-100 pb-70">
            <div class="container">
                <div class="section-title">
                    <h2>Student Life</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit ut elit tellus luctus nec ullamcorper mattis </p>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="student-life-card">
                            <img src="assets/images/stundent-life/student-life-1.jpg" alt="Image">
                            <div class="tags">
                                <p>Athletics</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="student-life-card">
                            <img src="assets/images/stundent-life/student-life-2.jpg" alt="Image">
                            <div class="tags">
                                <p>Fitness Center</p>
                            </div>
                        </div>
                        <div class="student-life-card">
                            <img src="assets/images/stundent-life/student-life-3.jpg" alt="Image">
                            <div class="tags">
                                <p>Health and Wellness</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Student Life Area-->

        <!--Start Footer Area-->
        <div class="footer-area pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="footer-logo-area">
                            <a href="index.html"><img src="assets/images/white-logo.png" alt="Image"></a>
                            <p>Sanu University was established by J.H Merthon in 1810 for the public benefit. Afterwards, it is recognized globally</p>
                            <div class="contact-list">
                                <ul>
                                    <li><a href="tel:+01987655567685">+01-9876-5556-7685
                                    </a></li>
                                    <li><a href="mailto:admin@sanu.edu">admin@sanu.edu</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-widjet">
                            <h3>Campus Life</h3>
                            <div class="list">
                                <ul>
                                    <li><a href="campus-life.html">Accessibility</a></li>
                                    <li><a href="campus-life.html">Financial Aid</a></li>
                                    <li><a href="campus-life.html">Food Services</a></li>
                                    <li><a href="campus-life.html">Housing</a></li>
                                    <li><a href="campus-life.html">Information Technologies</a></li>
                                    <li><a href="campus-life.html">Student Life</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-widjet">
                            <h3>Our Campus</h3>
                            <div class="list">
                                <ul>
                                    <li><a href="campus-life.html">Acedemic</a></li>
                                    <li><a href="campus-life.html">Planning & Administration</a></li>
                                    <li><a href="campus-life.html">Campus Safety</a></li>
                                    <li><a href="campus-life.html">Office of the Chancellor</a></li>
                                    <li><a href="campus-life.html">Facility Services</a></li>
                                    <li><a href="campus-life.html">Human Resources</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="footer-widjet">
                            <h3>Academics</h3>
                            <div class="list">
                                <ul>
                                    <li><a href="academics.html">Canvas</a></li>
                                    <li><a href="academics.html">Catalyst</a></li>
                                    <li><a href="academics.html">Library</a></li>
                                    <li><a href="academics.html">Time Schedule</a></li>
                                    <li><a href="academics.html">Apply For Admissions</a></li>
                                    <li><a href="academics.html">Pay My Tuition</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shape">
                    <img src="assets/images/shape-1.png" alt="Image">
                </div>
            </div>
        </div>
        <!--End Footer Area-->

        <!--Start Copyright Area-->
        <div class="copyright-area">
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-lg-6 col-md-4">
                            <div class="social-content">
                                <ul>
                                    <li><span>Follow Us On</span></li>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank"><i class="ri-facebook-fill"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank"><i class="ri-twitter-fill"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://instagram.com/?lang=en" target="_blank"><i class="ri-instagram-line"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://linkedin.com/?lang=en" target="_blank"><i class="ri-linkedin-fill"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-8">
                            <div class="copy">
                                <p>© Sanu is Proudly Owned by <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Copyright Area-->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class="ri-arrow-up-s-line"></i>
            <i class="ri-arrow-up-s-line"></i>
        </div>
        <!-- End Go Top Area -->
        
        <!-- Jquery js -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- Bootstrap bundle js -->
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <!-- Meanmenu js -->
        <script src="assets/js/jquery.meanmenu.js"></script>
        <!-- Owl Carosel js -->
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- Owl Carosel Thumbs js -->
        <script src="assets/js/carousel-thumbs.min.js"></script>
        <!-- Magnific popup js -->
        <script src="assets/js/jquery.magnific-popup.js"></script>
        <!-- Aos js -->
        <script src="assets/js/aos.js"></script>
        <!-- Odometer js -->    
        <script src="assets/js/odometer.min.js"></script>
        <!-- Appear js -->  
        <script src="assets/js/appear.min.js"></script> 
        <!-- Form Validator js -->    
        <script src="assets/js/form-validator.min.js"></script>
        <!-- Contact Form Script js -->    
        <script src="assets/js/contact-form-script.js"></script>
        <!-- Ajaxchimp js -->    
        <script src="assets/js/ajaxchimp.min.js"></script>
        <!--Custom js-->
        <script src="assets/js/custom.js"></script>
    </body>
</html>