<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Bootstrap Css-->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!--Meanmenu.css-->
        <link rel="stylesheet" href="assets/css/meanmenu.css">
        <!--Owl carousel-->
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <!--Owl Theme-->
        <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
        <!--Magnific-popup-->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <!--Flaticon-->
        <link rel="stylesheet" href="assets/css/flaticon.css">
        <!--Remixicon-->
        <link rel="stylesheet" href="assets/css/remixicon.css">
        <!--Odometer-->
        <link rel="stylesheet" href="assets/css/odometer.min.css">
        <!--Aos css-->
        <link rel="stylesheet" href="assets/css/aos.css">
        <!--Style css-->
        <link rel="stylesheet" href="assets/css/style.css">
        <!--Dark css-->
        <link rel="stylesheet" href="assets/css/dark.css">
        <!--Responsive css-->
        <link rel="stylesheet" href="assets/css/responsive.css">

        <link rel="icon" type="image/png" href="assets/images/favicon.png">
        <title>Sanu - College University HTML Template</title>
    </head>
    <body>
        <!--Start Comming soon-->
        <div class="coming-soon-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="coming-soon">
                            <a href="index.html"><img src="assets/images/white-logo.png" class="main-logo" alt="Images"></a>                  
                            <h1>We Are Coming Soon</h1>
                            <div class="list">
                                <ul id="timer" class="flex-wrap d-flex justify-content-center">
                                    <li id="days" class="align-items-center flex-column d-flex justify-content-center"></li>
                                    <li id="hours" class="align-items-center flex-column d-flex justify-content-center"></li>
                                    <li id="minutes" class="align-items-center flex-column d-flex justify-content-center"></li>
                                    <li id="seconds" class="align-items-center flex-column d-flex justify-content-center"></li>
                                </ul>
                            </div>
                            <form class="newsletter-form " data-toggle="validator">
                                <input type="email" class="form-control" placeholder="Your email address" name="EMAIL" required autocomplete="off">
                    
                                <button class="default-btn active" type="submit">
                                    Subscribe now
                                </button>
                                <div id="validator-newsletter" class="form-result"></div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Comming soon-->
        
        <!-- Jquery js -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- Bootstrap bundle js -->
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <!-- Meanmenu js -->
        <script src="assets/js/jquery.meanmenu.js"></script>
        <!-- Owl Carosel js -->
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- Owl Carosel Thumbs js -->
        <script src="assets/js/carousel-thumbs.min.js"></script>
        <!-- Magnific popup js -->
        <script src="assets/js/jquery.magnific-popup.js"></script>
        <!-- Aos js -->
        <script src="assets/js/aos.js"></script>
        <!-- Odometer js -->    
        <script src="assets/js/odometer.min.js"></script>
        <!-- Appear js -->  
        <script src="assets/js/appear.min.js"></script> 
        <!-- Form Validator js -->    
        <script src="assets/js/form-validator.min.js"></script>
        <!-- Contact Form Script js -->    
        <script src="assets/js/contact-form-script.js"></script>
        <!-- Ajaxchimp js -->    
        <script src="assets/js/ajaxchimp.min.js"></script>
        <!--Custom js-->
        <script src="assets/js/custom.js"></script>
    </body>
</html>